h1 {
    text-align: center;
}

.centered{
    text-align: center;
}

.font_bold{
    font-family: 'Poiret One';
    font-weight: bold;
}

.font_heavy{
    font-family: 'Passion One';
    font-size: 28;
    color:  #007c80
}


.font_heavy_howto{
    font-family: 'Passion One';
    font-size: 20;
    color:  #007c80
}

.font_heavy_small{
    font-family: 'Passion One';
    font-size: 18
}

.font_bold_direction{
    font-family: 'Poiret One';
    font-size: 25;
    font-weight: bold;
}

.font_heavy_small:hover{
    font-family: 'Passion One';
    font-size: 20;
    opacity: 0.5;
}

.font_caption{
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 40;
    
}

.footer_font{
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 30;
    color: white
}

.font{
    font-family: 'Poiret One';
}


.zoom{
    transition: transform 1.5s;
}

.zoom:hover{
    transform: scale(1.08);
}

.highlight:hover{
    background-color: rgba(0, 106, 120, .3);

}

.nav-item{
    text-align: right;
    padding-right: 20;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 10
}


.navbar .nav-item:hover .dropdown-menu{
    display: block;
}

.about-padding{
    padding-left: 70;
    padding-right:40;
}

footer{
    background-color: #007c80;
    padding: 35px;
}

.footer_font{
    color: gainsboro;
    font-family: 'Poiret One'; 
}

.footer_font:hover{
    color:rgb(39, 160, 176)
}

.remove_underline{
    text-decoration: none;
}

.button-background{
   background-color: #D9C82C;
}

#email_animation{
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: 6s;
}
  
  .small-container{
    margin: auto;
	width: 50%;
  }

  mark {
    background-color: #D9C82C;
}
