h1 {
    text-align: center;
}

.centered{
    text-align: center;
}

body{
    position: relative;
}

.container{
    margin-top: 100px;
}

.font_bold{
    font-family: 'Poiret One';
    font-weight: bold;
}

.font{
    font-family: 'Poiret One';
}